* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-primary: #1b8d36;
  --color-background: black;
  font-family: roboto, sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
}

/* Navigation bar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  min-width: 100%;
}

.navbar-header {
  margin-left: 1rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.navbar-img-container {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.sandwich-img {
  height: 2rem;
  width: 2rem;
}

.list-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar-container {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  .navbar-header {
    font-size: 2rem;
  }
  .navbar-img-container {
    display: none;
  }
  .list-container {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: white;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .list {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }
  
  .list:hover {
    transition: 0.5s;
    color: var(--color-primary);
  }
}

@media screen and (min-width: 1024px) {
  .list-container{
    width: 60%;
  }
  .navbar-header {
    font-size: 3rem;
  }
  .list {
    font-size: 2rem;
  }
  .navbar-container {
    padding: 4rem 2.5rem 0 2.5rem;
  }
}
